html,
body,
.container {
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.welcome-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  opacity: 0;
  transform: translateY(30px);
  animation: fade-in-up 1s ease-out forwards;
  max-width: 375px;
}

.divider {
  width: 2px;
  height: 230px;
  background: black;
  margin: 0 15px;
  opacity: 0;
  animation: fade-in 1.2s ease-out forwards 0.3s;
  text-align: center;
}

h2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 74px;
  margin: 0;
  opacity: 0;
  transform: scale(0.8);
  animation: scale-up 0.8s ease-out forwards 0.5s;
}

.parent {
  position: relative;
  max-width: 300px;
  min-width: 220px;
  height: 270px;
}

.top-right {
  position: absolute;
  right: 0;
  margin-top: 20px;
  opacity: 0;
  animation: fade-in 1s ease-out forwards 0.7s;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 60px;
  margin-bottom: 10px;
  opacity: 0;
  animation: fade-in-up 1s ease-out forwards 0.9s;
  text-align: left;
}

.photo {
  width: 100%;
  max-width: 425px;
  opacity: 0;
  animation: fade-in 1.5s ease-out forwards 1.2s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-30px); /* Элемент появляется слева */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Элемент на своем месте */
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(30px); /* Элемент появляется справа */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Элемент на своем месте */
  }
}

.guests {
  max-width: 315px;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  animation: fade-in-left 1s ease-out forwards 0.9s;
}

.and {
  color: #a9ac91;
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px !important;
  text-transform: lowercase;
}

h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 2%;
  text-align: center;
}

.names {
  margin: 20px 0px;
}

h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 15px 0;
}

.divider-2 {
  width: 1px;
  height: 92px;
  background: black;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  animation: fade-in 1.5s ease-out forwards 1.2s;
}

.text-container {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.timing {
  opacity: 0;
  animation: fade-in-right 1s ease-out forwards 0.9s;
}

.grey {
  background-color: #f6f6f6;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 15px;
}

.timing-time {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #54574d;
  margin: 0;
}

.timing-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.timing-element {
  margin: 15px 0;
}

.details-block {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.green-block {
  background-color: #54574d;
  max-width: 354px;
  max-height: 429px;
  margin: 20px auto;
  border-radius: 25px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2%;
  color: #ffffff;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  max-width: 294px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.details:last-child {
  margin-bottom: 0;
}

.circles {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.circle {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  position: relative;
  margin-left: -20px; /* Перекрытие кругов */
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #1a1a1a;
}
.dark-gray {
  background-color: #4c4c44;
}
.olive {
  background-color: #9a9b80;
}
.light-gray {
  background-color: #e2e3da;
}
.white {
  background-color: #f6f6f5;
}
.gray {
  background-color: #d8d8d8;
}

.circle:first-child {
  margin-left: 0; /* Убираем отрицательный margin у первого */
}

.circle:last-child {
  margin-right: 0; /* Можно добавить, если контейнер ограничен по ширине */
}

.add-container {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.telegram-btn {
  border: 0;
  width: 200px;
  height: 30px;
  letter-spacing: 0.5px;

  font-size: 13px;

  text-transform: uppercase;
  background-color: #54574d;
  color: #ffffff;
  border-radius: 26px;
  margin: 20px 0px 0px 0px;
}

.location-info {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #54574d;
}

.location-block {
  margin: 0 15px;
  margin-bottom: 0;
  margin-top: 10px;
}

.end {
  font-family: Montserrat;
  text-transform: uppercase;

  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 30px;
  padding-bottom: 35px;
}

.telegram {
  text-decoration: none;
  color: #ffffff;
}

.black-text {
  color: #000000;
}

.yandex-map {
  position: relative;
  overflow: hidden;
  max-width: 315px;
  margin: 0 auto;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.location-add {
  margin: 5px 0;
}

.telegram-text {
  max-width: 356px;
}

.dresscode-text {
  max-width: 356px;
  margin: 10px auto;
}

.telegram-padding {
  padding: 40px 0px;
}

.container-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ДЛЯ ПК */
@media (min-width: 768px) {
  .container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки */
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .item-2 {
    grid-column: 1; /* В левой колонке */
    grid-row: 1 / span 2; /* Растягиваем на две строки */
  }

  .item-1 {
    grid-column: 2; /* Во второй колонке */
    grid-row: 1; /* Сверху */
  }

  .item-3 {
    grid-column: 2; /* Во второй колонке */
    grid-row: 2; /* Снизу */
  }
}
